@charset "utf-8";
/* CSS Document */


#main{ width:948px; height:auto; margin:0 auto;}

#header{ width:948px; height:auto;}
#center{ width:948px; height:auto; margin:0 auto;}
#footer{width:100%; height:63px; line-height:26px; text-align:center;margin:0 auto; background:#f2e9da; color:#ceba95; margin-top:22px; padding-top:17px;}

div{ overflow:hidden}

/*分页*/
div.pager
{
text-align:center;
	margin:0 auto;
	padding-top:0px !important; padding-top:6px;
	padding-bottom:3px; line-height:30px; margin-top:10px;
	background:url(../images/line2.jpg) repeat-x left top;
	
}
div.pager span
{
			margin-left:4px;
	margin-right:4px;
}
div.pager a
{
		margin-left:4px;
	margin-right:4px;
	text-decoration:none;
}


/*新闻*/
ul.news
{
	clear:both;
	margin:0px;
	padding:0px;
}
ul.news li
{ background:url(../images/dian.jpg) no-repeat left center; padding-top:2px; height:24px; padding-left:15px; margin-left:5px; margin-right:5px; border-bottom:dashed 1px #ccc;
}
ul.news li a
{
	text-decoration:none;
}

ul.news1
{
	clear:both;
	margin:0px;
	padding:0px;
}
ul.news1 li
{ background:url(../images/index_38.jpg) no-repeat left center; height:28px; width:190px; padding-left:20px; padding-top:2px; width:522px;
}
ul.news1 li a
{
	text-decoration:none;
}


.newstitle{ width:720px; height:26px; font-size:14px; font-weight:bold;  line-height:26px; text-align:center}

.newssubtitle{ width:720px; height:22px; line-height:22px; text-align:center; color:#666}
/*产品分类*/






.producttype0 {width:242px; height:30px;background:url(../images/yiji.jpg) no-repeat left top;text-indent:26px; margin-top:6px;}

.producttype0 a{ line-height:30px; height:30px; font-weight:bold;}

.producttype0 a:hover{ line-height:30px; height:30px; font-weight:bold;}



.producttype1 {width:242px; height:30px;background:url(../images/erji.jpg) no-repeat left top;text-indent:26px; margin-top:6px;display:none; overflow:hidden;}

.producttype1 a{line-height:30px; height:30px;}

.producttype1 a:hover {line-height:30px; height:30px;}

 
 
.producttype2 { width:241px; height:36px; margin-top:5px; text-indent:42px; background:url(../images/pli.jpg) no-repeat left top;display:none;}

.producttype2 a{line-height:36px; height:36px;}

.producttype2 a:hover {line-height:36px; height:36px;}


 
 
/*下载*/
ul.downloads
{
	clear:both;
	margin:0px;
	padding:0px;
	padding-top:5px;
}

ul.downloads li
{
	margin-bottom:5px;
}

ul.downloads li a
{
	text-decoration:none;
}
